.card-container{
  display: flex;
  justify-content: space-around;

 
}

.card-one{
  height:400px;
  width: 300px;
  border: 3px solid black;
  background-color: #cccc;

}

 .card-two{
    height: 400px;
    width: 300px;
    left: 50px;
    border: 3px solid black ;
    background-color: #cccc;
   
}

 .card-image{
  
   width: 294px;
   height: 200px;
  
} 