

.crewBody{
  background-color: rgb(234, 233, 233);
}
.crewContainer{
 display: flex; 
  /* align-items: center; */
 /* justify-content: center; */
 flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-right: 15px;
 
 
 


  

  
} 

.box{
  border-style: solid;
  border-color: blue;
   display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;  

  
}

.profilePic{
    width:350px;
    height: 350px;
    border: 1px solid black;
    /* border-radius: 50%; */
    
}

.crewCards{
    height: fit-content;
     border: 2px solid black; 
   
    
  
}


.groupImg{
  width: 100vw;
  height: 250px;
}

.Name{
  font-size: x-large;
  font-weight: 600;

}

.text-area{
  /* background: rgb(220, 213, 213); */
  color: black;
  
}