
.crewContainer{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 font-size: large;


  
/* 
   display: grid;
  grid-template-columns: 50% 50% ;
  grid-template-rows: 50% 50% ;  */
  
}

.profilePic{
    width:250px;
    height: 250px;
    border: 1px solid black;
    
}

.crewCards{
    height: fit-content;
    border: 2px solid black;
  
}


.groupImg{
  width: 100vw;
  height: 250px;
}