@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');



.navbar{
    background-color: black;
}
.navbar-brand{
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    font-family: "Bubblegum+Sans&display=swap"; 
}

.nav-item{
 /* background-color: #cccc; */
 color: white;
 display: flex;
justify-content: flex-end;
justify-content: space-around;
}

.nav-link{
    color: white;
    font-weight: 800;
    margin: 10px;
}

.home-body{
    background-image: url('/public/rix.jpeg') ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
   
}
.logo-container{
    display: flex;

    justify-content: space-between;  
    width: 20%;
    align-items: center;
    align-content: center;
}
.logo-container img{
    margin-left: 10px;
}
.logo-text{
    margin-bottom: 0rem !important;
    margin-left: 20px;
    font-weight: 800;
}

