@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');



.navbar{
    background-color: black;
}
.navbar-brand{
    color: white;
    font-family: "Bubblegum+Sans&display=swap"; 
}

.nav-item{
 background-color: #cccc;
 color: white;
 display: flex;
justify-content: flex-end;
justify-content: space-around;
}

.home-body{
    background-image: url('/public/rixen2.jpeg') ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
   
}
